nav.navbar.navbar-expand-lg.navbar-light.bg-light
  .container-fluid
    - if logged_in?
      = link_to 'My Courses', courses_path(registered: true), class: "navbar-brand"
    - else
      = link_to 'My Courses', login_sessions_path, remote: true, class: "navbar-brand"
    .collapse.navbar-collapse#navbarText
      ul.navbar-nav.me-auto.mb-2.mb-lg-0
        li.nav-item
          = link_to :Search, search_path, class: "nav-link"
        li.nav-item
          = link_to :Courses, courses_path, class: "nav-link"
        li.nav-item
          = link_to :Instructors, instructors_path, class: "nav-link"
    - if logged_in?
      = link_to 'Sign out', sessions_path, method: :delete, remote: true, data: { confirm: 'Are you sure?' }
    - else
      = link_to 'Sign in', login_sessions_path, remote: true
